# ElasticEmail.model.verification_status.VerificationStatus

## Model Type Info
Input Type | Accessed Type | Description | Notes
------------ | ------------- | ------------- | -------------
str,  | str,  |  | must be one of ["Processing", "Ready", "Expired", "Verified", "Error", ] if omitted the server will use the default value of "Processing"

[[Back to Model list]](../../README.md#documentation-for-models) [[Back to API list]](../../README.md#documentation-for-api-endpoints) [[Back to README]](../../README.md)

